Variables in Python

In [9]:
x = 22
print(x)
type(x)

22

int

In [13]:
y = 'Mint Chocolate Chip'
print(y)
type(y)

Mint Chocolate Chip

str

In [12]:
x,y,z = 'Chocolate','Vanilla','Rocky Road'
print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [14]:
x=y=z = 'Root Beer Float'
print(x)
print(y)
print(z)

Root Beer Float
Root Beer Float
Root Beer Float

In [17]:
#List
ice_cream = ['Chocolate','Vanilla','Rocky Road']
x,y,z = ice_cream
print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [ ]:
#Naming Variables

#CamelCase
testVariable = 'Start Small'

#Pascal Case
TestVariable = 'All Big'

#Snake Case
test_variable = 'Use Underscore'

In [5]:
#String Concatenation
x = 'I love' + ' you'
print(x)

k = 'Icecream'
l = 'shit'
print(k + l)

I love you
Icecreamshit

In [3]:
#Interger concatenation
y = 3 + 3
print(y)

6

Data Types in Python

In [9]:
type(12)

int

In [7]:
type(12+10.25)

float

In [11]:
type(11+3j)

complex

In [18]:
#Boolean
type(True)
type(1>5)
1>5

False

In [22]:
#String
single = 'Single quote'
double = "Double Quote"
multiline = """
Multiline
This is so sad
Look at it
"""
print(multiline)

Multiline
This is so sad
Look at it

In [27]:
#Indexing strings
a = "Hello World"
print(a[:5])
print(a[3:7])

Hello
lo W

In [31]:
#Lists
interg_list = [1,2,3,4,5]
string_list = ['name', 'her', 'short']
mixed_data_list = ['vanilla', 3, ['spoon', 'scoop'], True]
print(interg_list)
print(string_list)
print(mixed_data_list)

[1, 2, 3, 4, 5]
['name', 'her', 'short']
['vanilla', 3, ['spoon', 'scoop'], True]

In [34]:
#Tuples - can not modified after creation
tuple_scoops = (1,2,3,4,5)
print(tuple_scoops)
tuple_scoops[3]

(1, 2, 3, 4, 5)

4

In [42]:
#Sets -  no duplicate elements,
#     -  values cannot be accessed using an index

daily_pints = {1,2,3}
print(daily_pints)

daily_pints_duplicates = {1,2,3,4,1,2,3,4,1,2,3,4}
print(daily_pints_duplicates)

wife_daily_log = {14,1,3,4,5,7,8,9,78,54}
#view unique values from two sets
print(wife_daily_log | daily_pints)

#view values that show up in both sets
print(wife_daily_log & daily_pints)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 7, 8, 9, 14, 78, 54}
{1, 3}

In [45]:
#Dictionaries
#Key/Value Pair

dictionary_cream = {'name':'alex', 'weekly intake':5, 'favorite ice creams': ['MCC', 'Chocolate']}
type(dictionary_cream)
print(dictionary_cream)

{'name': 'alex', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [51]:
#Dictionary Continued...
dictionary_cream.values()

dict_values(['alex', 5, ['MCC', 'Chocolate']])

In [50]:
#Dictionary Continued...
dictionary_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice creams'])

In [52]:
#Dictionary Continued...
dictionary_cream.items()

dict_items([('name', 'alex'), ('weekly intake', 5), ('favorite ice creams', ['MCC', 'Chocolate'])])

In [53]:
#Dictionary allows you to update
#Dictionary Continued...
dictionary_cream['name'] = 'Tinotenda Muchenje'
print(dictionary_cream)

{'name': 'Tinotenda Muchenje', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

Comparison, Logical and Membership Operators

In [61]:
#Equal ==
print(10 == 10)
print(10 == 30)
print(10 != 10)
print(10 != 30)

x = 'vanilla'
y = 'chocolate'
print(x==y)

True
False
False
True
False

In [64]:
#less than , greater than
print(10>=10)
print(10>=50)

True
False

In [67]:
#Logical operators

print((10>50) and (50>10))
print((10>50) or (50>10))

False
True

In [72]:
#Membership operators - used to check if something is
# within another value / sequence
ice_cream = 'I love chocolate ice cream'
print('love' in 'I love chocolate ice cream')
print('ice' not in 'I love chocolate ice cream')

scoops = [1,2,3,4,5,6]
print(3 in scoops)
print(2 not in scoops)

True
False
True
False

In [75]:
#If-Elif-Else Statements
if 25 < 10:
    print('It worked!')
elif 25 < 30:
    print('Elif worked')
else:
    print("It didn't work...")

Elif worked

In [76]:
#For loops
intergers = [1,2,3,4,5]
for number in intergers:
    print(number)

1
2
3
4
5

In [77]:
#For loops continued...
intergers = [1,2,3,4,5]
for number in intergers:
    print('yep!')

yep!
yep!
yep!
yep!
yep!

In [78]:
#For loops continued...
intergers = [1,2,3,4,5]
for number in intergers:
    print(number + number)

2
4
6
8
10

In [80]:
#For loops continued...
ice_cream_dict = {'name':'alex', 'weekly intake':5, 'favorite ice creams': ['MCC', 'Chocolate']}
for cream in ice_cream_dict.values():
    print(cream)

alex
5
['MCC', 'Chocolate']

In [84]:
#For loops continued...
ice_cream_dict = {'name':'alex', 'weekly intake':5, 'favorite ice creams': ['MCC', 'Chocolate']}
for key,value in ice_cream_dict.items():
    print(key, '->', value)

name -> alex
weekly intake -> 5
favorite ice creams -> ['MCC', 'Chocolate']

In [88]:
#Nested for Loop
flavours = ['Vanilla', 'Chocolate', 'Strawberry']
toppings = ['Hot Fudge', 'Marshmallows', 'Oreos']

for one in flavours:
    for two in toppings:
        print(one, 'topped with', two)

Vanilla topped with Hot Fudge
Vanilla topped with Marshmallows
Vanilla topped with Oreos
Chocolate topped with Hot Fudge
Chocolate topped with Marshmallows
Chocolate topped with Oreos
Strawberry topped with Hot Fudge
Strawberry topped with Marshmallows
Strawberry topped with Oreos

In [90]:
#While loops
number = 0
while number < 5:
    print(number)
    number = number + 1

0
1
2
3
4

In [94]:
#while loop + break statement
number = 0
while number < 5:
    print(number)
    if number == 3:
        break
    number = number + 1

0
1
2
3

In [98]:
#while loop + else statement
number = 0
while number < 5:
    print(number)
    if number == 6:
        break
    number = number + 1
else:
    print('Nolonger < 5')

0
1
2
3
4
Nolonger < 5

In [101]:
#while loop + continue
number = 0
while number < 5:
    number = number + 1
    if number == 3:
        continue
    print(number)
else:
    print('No longer < 5')

1
2
4
5
No longer < 5

In [105]:
#Funtions
def my_function():
    print('My first function')
    
my_function()

My first function

In [106]:
#functions continued...
def number_squared(number):
    print(number**2)
    
number_squared(5)

25

In [109]:
def number_squared_cust(number,power):
    print(number**power)
    
number_squared_cust(5,3)

125

In [112]:
#arbitrary arguements
def number_args(*number):
    print(number[0]*number[1])
    
number_args(5,6,1,2,8)

30

In [115]:
#converting data types

num_int = 7
num_str = '7'
num_str_conv = int(num_str)

print(num_int + num_str_conv)

14